<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <title>Create Team</title>
    </head>
    <body>
        <h1>Create Team</h1>
    <form method="post">
        <table>
            <tr>
                <td class="label">Team name:</td>
                <td><input name="teamName" value={{teamName}}></td>
                <td class="error">{{teamNameError}}</td>
            </tr>
            <tr>
                <td>Choose your Team role:</td>

                <td>

                    <input type="radio" name="teamRole" value="manager">Manager
                    <input type="radio" name="teamRole" value="code">Code
                    <input type="radio" name="teamRole" value="test">Test
                    <input type="radio" name="teamRole" value="document">Document
                </td></td>
            </tr>

        </table>
        <input type="submit" value="create">
    </form>
    </body>
</html>