<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <title></title>
    </head>
    <body>
        {{error}}

        <form method="post">
        {%if confirm%}<div><b>You have confirmed!</b></div>{%endif%}
        {% if leader%}<h1>Welcome Leader {{leader}}</h1>
        <h2>In this page you will see the contribution score for each of your teammate!</h2>
        <div>As long as you confirmed, this information can't be changed!</div>
        <div><b>Total votes number:</b></div>

        {%for item in resultList%}
        {{item}}
        <br>
        {%endfor%}
            <input type="hidden" name=user value={{leader}}>
            <input type="submit" name="submit" value="Confirm">
        {%endif%}
        </form>
    <a href="/student?username={{leader}}">Back</a>
    </body>
</html>