<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <title>Edit Assignment:</title>
    </head>
    <body>
    <h1>Edit Assignment</h1>
        <form method="post">
            {% if assignment%}
            <table>
                <tr>
                    <td>Assignment name: {{assignment.assignmentName}}</td>
                </tr>
                <tr>
                <tr>
                    <td>DeadLine:</td>
                    <td><input type="text" name="year" >year</td>
                    <td><input type="text" name="month">month</td>
                    <td><input type="text" name="day">day</td>
                    <td><div class="error">{{error}}</div> </td>
                </tr>
                </tr>
            </table>
            <div>Assignment Requirement</div>
            <textarea name="assignmentContent" rows="16" cols="100">{{assignment.assignmentContent|escape}}</textarea>
            {% endif%}
            <input type="submit">
        </form>

    </body>
</html>