<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <title>Leader Confirm</title>
    </head>
    <body>
        <h1>Welcome, leader {{username}}.Please confirm your teammates' score.</h1>
        <h2>When you confirm these scores, teacher will receiver notification.</h2>
        {% if scores%}
        <form method="post">
            {% for score in scores%}
            <table border="1">
                <tr>
                    <th>Name</th>
                    <th>Votes</th>
                    <th>Person Score</th>
                    <th>upload Stuff</th>
                    <th>Comment</th>
                </tr>
                <tr>
                    <td>{{score.username}}</td>
                    <td>{{score.votes}}</td>
                    <td>{{score.personScore}}</td>
                    <td>{% for item in score.uploadStuff%} {{item}} {% endfor%}</td>
                    <td>{% for comment in score.comments%} {{comment.author}} said: {{comment.content}} {% endfor%}</td>
                </tr>
            </table>
            {% endfor%}
            <input type="submit" name="submit" value="confirm">
        </form>
        {% else%}
        <div>No score record now.</div>
        {% endif%}
    </body>
</html>