<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
     <title>Login</title>
       <link type="text/css" rel="stylesheet" href="/css/login.css" />
    </head>
    <body>
        <h1>Log in</h1>

        <form  method="post">
            <table>
                <tr>
                    <td class="label">Username</td>
                    <td><input type="text" name="username" value={{username|escape}}></td>
                    <td class="error"><b>{{usernameError}}</b></td>
                </tr>

                <tr>
                    <td class="label">Password</td>
                    <td><input type="password" name="password" ></td>
                    <td class="error"><b>{{passwordError}}</b></td>
                </tr>
            </table>
            <input type="submit" value="Login">
        </form>
        <hr>

        {% ifequal haveUser "no"%}
        <div class="error"><b>No such user! return to login again! OR you can sign up a account.</b></div>
        <br>
        <a href="signup">sign up</a>
        {% endifequal %}



    </body>
</html>