<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Review student work</title>
</head>
<body>

<h1><b>{{username}}, welcome to review students' works</b></h1>
<form method="post">

    <div>Assignment name: {{assignment.assignmentName}}</div>
    <div>Assignment author: {{assignment.author}}</div>
    <div>Assignment deadline: {{assignment.deadLine}}</div>
    <hr>
    <div>This assignment has these works:</div>

    <hr>
    <table>
        <tr>
            <th>Team</th>
            <th>TeamLeader</th>

            <th>Uploder</th>

            <th>Title</th>
            <th>Version</th>
            <th>Date</th>
            <th>Vote</th>
            <th>Status</th>
            <th>URL</th>
            <th>Description</th>
            <th>Filename</th>
            <th>Download sourceCode</th>
        </tr>
        {% for team in teams%}
        {% for upload in team.works%}
        {% ifequal upload.assignmentName assignment.assignmentName%}
        <tr>
            <td>{{team.teamName}}</td>
            <td>{{team.teamLeader}}</td>

            <td>{{upload.author}}</td>
            <td>{{upload.title}}</td>
            <td>{{upload.version}}</td>
            <td>{{upload.date}}</td>
            <td>{{upload.votes}}</td>
            <td>{{upload.status}}</td>
            <td><a href="{{upload.URL}}">URL</a></td>
            <td>{{upload.description}}</td>
            <td>{{upload.filename}}</td>
            <td>
                {% ifequal upload.status "active"%}
                <form method="post" name="downloadForm">
                <input type="hidden" name="target" value={{upload.uploadID}}>
                <input type="submit" name="submit" value="Download">
                <input type="submit" name="submit" value="score">
                </form>
                {% endifequal%}
            </td>

        </tr>
        
        {% endifequal%}
        {% endfor%}

        {% endfor%}
    </table>

</form>
<a href="/login">Sign out</a>
</body>
</html>