<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/html">
    <head>
        <title>Welcome</title>

    </head>
    <body>
    <div id="jqueryMessage">Test JQuery!</div>


    <form method="post">
        <h1 class="label">Student Page</h1>
        <h2 class="label">Welcome Student! {{user.name}}</h2>

        {%ifequal hasTeam "no" %}
        <div><b>You have not join a team.</b></div>
        <div>You can create one</div>
        <input type="hidden" name="createTeam" value="yes">
        <input type="submit" name="submit" value="create">
        <hr>
        {% if teams%}

        <div>Or you can join one team below</div>
        <table>
            <tr>
                <th>teamID</th>
                <th>team name</th>
                <th>team leader</th>
            </tr>
            {%for team in teams%}
            <tr>
                <td>{{team.teamID}}</td>
                <td>{{team.teamName}}</td>
                <td>{{team.teamLeader}}</td>

                <td>

                    {%if team.lock%}
                    <td>Team has been locked!</td>
                    {%else%}
                    <form method="post" name="joinForm">
                        <b>Choose your role and join:</b>
                        <select name="teamRole">
                            <option value="manager">Manager</option>
                            <option value="code">Code</option>
                            <option value="test">Test</option>
                            <option value="document">Document</option>
                        </select>
                    <input type="hidden" name="joinTarget" value={{team.teamID}}>
                    <input type="submit" name="submit" value="join">
                    <td>{{message1}}</td>
                    </form>
                    {%endif%}
                </td>



            </tr>
            {%endfor%}
        </table>
        {% endif%}
        {%endifequal%}


        {%ifequal hasTeam "yes"%}
        <div>You are one of this team</div>
        <table>
            <tr>
                <td>teamID</td>
                <td>{{team.teamID}}</td>
            </tr>
            <tr>
                <td>team name</td>
                <td>{{team.teamName}}</td>
            </tr>
            <tr>
                <td>team leader</td>
                <td>{{team.teamLeader}}</td>
                <td><br></td>
            </tr>

            <tr><td>Members are:</td></tr>
            <tr>
                <th>name</th>
                <th>email</th>
            </tr>
            {% for mem in team.teamMembers%}
            <tr>
                <td>{{mem.name}}</td>
                <td>{{mem.studentID}}</td>
                <td>{{mem.email}}</td>
                <td>{{mem.teamRole}}</td>
            </tr>
            {% endfor%}
        </table>
        <hr>
        <div>If you want to quit this team, click this button:</div>
        <input type="submit" name="submit" value="quit">
        <div>{{message2}}</div>
        {%endifequal%}

    <br>
    <br>

    <hr>
    {%if assignments%}
    {%for assignment in assignments%}


        {% if topThree%}
            <div><b>TOP3:</b></div>
            {% for top in topThree%}
                {% ifequal top.0 assignment.assignmentName%}
                {% for item in top.1%}
                <div>.................Rank: {{item.rank}}.....................</div>
                <div>Team name: {{item.teamName}}</div>
                <div>Score: {{item.score}}</div>
                <div>Comment: {{item.comment}}</div>
                <div>......................................................</div>
                {% endfor%}
                {% endifequal%}

            {% endfor%}
        {% endif%}

        <div><a href="/assignmentwall?assignmentName={{assignment.assignmentName}}&username={{username}}">
            Assignment name:  {{assignment.assignmentName}}</a>
        </div>
    <div>Release time:  {{assignment.releaseTime}}</div>
    <div>Due Date:  {{assignment.deadLine}}</div>
    <div>Receivers: {{assignment.pubOrTeam}}</div>
    <div>Tags:</div>

    {% for tag in assignment.tags%}
        <div><a href="/tagcollection?tagName={{tag.tags.tagName}}&username={{username}}">{{tag.tags.tagName}}</a> x {{tag.tags.tagAmount}}</div>
    {% endfor%}
    <br>
    {%ifequal assignment.pubOrTeam "team"%}
    {% if user.leader %}
        <div>You are the leader, please confirm the team-cross-value information</div>
        <a href="/crossvalue?teamID={{user.teamID}}&assignmentName={{assignment.assignmentName}}">Go to check</a>
    {% endif%}
    <div>You have uploaded these works:</div>
    {%endifequal%}
    <br>

        {%for work in team.works%}
        {% ifequal work.assignmentName assignment.assignmentName %}

        <div>author: {{work.author}}</div>
        <div>Title: {{work.title}}</div>
        <div>Version: {{work.version}}</div>
        <div>Description: {{work.description}}</div>
        <div>Upload time: {{work.date}}</div>
        <div>Vote: {{work.votes}}</div>
        <form method="post" name="voteForm">
        <input type="hidden" name="voteUp" value="{{username}}+up+{{work.author}}+{{work.uploadID}}">
        <input type="submit" name="submit" value="voteUp">
        <input type="hidden" name="voteDown" value="{{username}}+down+{{work.author}}+{{work.uploadID}}">
        <input type="submit" name="submit" value="voteDown">
        <div>{{voteMessage}}</div>
        <a href="/teamworkcomments?username={{username}}&uploadID={{work.uploadID}}">comment</a>
        </form>


        <div>Your team score:</div>
        {% for score in team.teamScores%}
            {% ifequal score.assignmentName assignment.assignmentName%}
            <div>Score:{{score.score}}</div>
            <div>Rank:{{score.rank}}</div>
            <div>Comment:{{score.comment}}</div>
            <br>
            {% endifequal%}
        {% endfor%}



        {% endifequal%}
        {%endfor%}
        {%ifequal assignment.pubOrTeam "team"%}
            <div>---------------------------------------------------</div>
            <div>Upload or Download your teamWork</div>
            <form method="post" name="myForm">
            <input type="hidden" name="assignmentTarget" value={{assignment.assignmentName}}>
            <input type="submit" name="submit" value="upload">
            <input type="submit" name="submit" value="download">
            <input type="submit" name="submit" value="mutualScore">
            </form>
        {%endifequal%}



    <hr>
    {%endfor%}
    {% endif%}

    {% if ranks%}

    {% endif%}

    {% if myScores%}
        <div><b>Your score</b></div>
        <dl>

            {% for score in myScores%}
            <dt>{{score.assignmentName}}</dt>
            <dd>-stuff you uploaded:{% for item in score.uploadStuff%} {{item}}. {% endfor%}</dd>
            <dd>-votes: {{score.votes}}</dd>
            <dd>-person score: {{score.personScore}}</dd>
            <dd>-teammate comments: {% for comment in score.teammateComment%} {{comment}}. {% endfor%}</dd>
            <dd>-teacher score: {{score.teamScore}}</dd>
            <dd>-teacher comment: {{score.teacherComment}}</dd>
            {% endfor%}
        </dl>
        {% endif%}

    </form>
    <script type="text/javascript" src="/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="/js/init.js"></script>

    <a href="/login">Sign out</a>

    </body>
</html>