<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <title>Welcome</title>

    </head>
    <body>

    <form method="post">
        <h1 class="label">Student Page</h1>
        <h2 class="label">Welcome Student! {{username}}</h2>
        <div>{{message2}}</div>
        {%ifequal hasTeam "no" %}
        <div><b>You have not join a team.</b></div>
        <div>You can create one</div>
        <input type="hidden" name="createTeam" value="yes">
        <input type="submit" name="submit" value="create">
        <hr>
        {% if teams%}

        <div>Or you can join one team below</div>
        <table>
            <tr>
                <th>teamID</th>
                <th>team name</th>
                <th>team leader</th>
            </tr>
            {%for team in teams%}
            <tr>
                <td>{{team.teamID}}</td>
                <td>{{team.teamName}}</td>
                <td>{{team.teamLeader}}</td>

                <td>
                    <input type="hidden" name="joinTarget" value={{team.teamID}}>
                    <input type="submit" name="submit" value="join">
                </td>
                <td>{{message1}}</td>
                <td>{{teamID}}</td>

            </tr>
            {%endfor%}
        </table>
        {% endif%}
        {%endifequal%}


        {%ifequal hasTeam "yes"%}
        <div>You are one of this team</div>
        <table>
            <tr>
                <td>teamID</td>
                <td>{{team.teamID}}</td>
            </tr>
            <tr>
                <td>team name</td>
                <td>{{team.teamName}}</td>
            </tr>
            <tr>
                <td>team leader</td>
                <td>{{team.teamLeader}}</td>
                <td><br></td>
            </tr>
            <tr><td>Members are:</td></tr>
            <tr>
                <th>name</th>
                <th>email</th>
            </tr>
            {% for mem in members%}
            <tr>
                <td>{{mem.name}}</td>
                <td>{{mem.email}}</td>
            </tr>
            {% endfor%}
        </table>
        <hr>
        <div>If you want to quit this team, click this button:</div>
        <input type="submit" name="submit" value="quit">
        {%endifequal%}

    <br>
    <br>
    <a href="/login">Sign out</a>
    <hr>
    {%if assignments%}
    {%for assignment in assignments%}

    <div>Assignment name:  {{assignment.assignmentName}}</div>
    <div>Release time:  {{assignment.releaseTime}}</div>
    <div>Due Date:  {{assignment.deadLine}}</div>
    <div>Tags:</div>

    {% for tag in assignment.tags%}
    <div>{{tag.tags.tagName}} x {{tag.tags.tagAmount}}</div>
    {% endfor%}

    <br>
    <pre>{{assignment.content}}</pre>

    <hr>
    {%endfor%}
    {% endif%}
    </form>

    </body>
</html>