<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <title>Student Mutual Score</title>
    </head>
    <body>
        <h1>Welcome, {{user.name}}</h1>
        <h2>Team {{teamName}} {{assignmentName}} Student Mutual Score</h2>
        <form method="post">
            <table>
                <tr>
                    <th>Name</th>
                    <th>Role</th>
                    <th>Upload Stuff</th>
                    <th>Votes</th>
                    <th>Score</th>
                    <th>Comment</th>

                </tr>
                {% if memberScores%}
                {% for memberScore in memberScores%}

                <tr>
                    <td>{{user.name}}</td>
                    <td>{{user.teamRole}}</td>
                    <td>{% for item in memberScore.uploadStuff%} {{item}},{% endfor%}</td>
                    <td>{{memberScore.votes}}</td>
                    <td>{{memberScore.personScore}}</td>
                    <td>{% for comment in memberScore.comment%}{{comment}}{% endfor%}</td>

                    <form method="post" name="scoreForm">
                    <td><input type="text" name="scoreNumber" ></td>
                    <td><input type="hidden" name="scoreTarget" value={{memberScore.scoreID}}></td>
                    <td><textarea name="comment"></textarea></td>
                    <td><input type="submit" name="submit" value="submit"></td>
                    </form>

                </tr>


                {% endfor%}
                {% endif%}

            </table>
            <b>{{message}}</b>

            <b>{{error}}</b>
            <br>
            {%if leader%}<input type="submit" name="submit" value="confirm">{% endif%}
            <tr><td><b>{{confirmMessage}}</b></td></tr>

        </form>
        <a href="/login">Sign out</a>
    </body>
</html>