<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <title>Teacher Page</title>
        <link type="text/css" rel="stylesheet" href="/stylesheets/teacher.css" />
    </head>
    <body>
    <h1 class="label">Teacher Page</h1>
    <h2 class="label">Welcome Teacher! {{username}}</h2>
    <form method="post">
        <table class="showUser">
            <tr>
                <th>student name</th>
                <th>hasTeam</th>
                <th>leader</th>
                <th>email</th>
                <th>teamID</th>
            </tr>
            {% if students%}
            {% for student in students%}
            <tr>
                <td>{{student.name}}</td>
                <td>{{student.hasTeam}}</td>
                <td>{{student.leader}}</td>
                <td>{{student.email}}</td>
                <td>{{student.teamID}}</td>
                <td>
                    <input type="hidden" name="delete" value="yes">
                    <input type="hidden" name="deleteTarget" value={{student.name}}>
                    <input type="submit" name="submit" value="Delete">
                </td>
            </tr>
            {% endfor%}
            {% endif%}
            <div class="error">{{error}}</div>
        </table>
        <hr>
        <input type="hidden" name="addUser" value="yes">
        <input type="submit" name="submit" value="Add Student">
    </form>
    </body>
</html>