<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <title>Teacher Page</title>
        <link type="text/css" rel="stylesheet" href="/css/teacher.css" />
    </head>
    <body>
    <h1 class="label">Teacher Page</h1>
    <h2 class="label">Welcome Teacher! {{username}}</h2>
    <form method="post">
        <table class="showUser">
            <tr>
                <th>student name</th>
                <th>studentID</th>
                <th>hasTeam</th>
                <th>leader</th>
                <th>email</th>
                <th>teamID</th>
                <th>team Role</th>
            </tr>
            {% if students%}
            {% for student in students%}
            <tr>
                <td>{{student.name}}</td>
                <td>{{student.studentID}}</td>
                <td>{{student.hasTeam}}</td>
                <td>{{student.leader}}</td>
                <td>{{student.email}}</td>
                <td>{{student.teamID}}</td>
                <td>{{student.teamRole}}</td>
                <td>
                    <form method="post" name="deleteForm">
                    <input type="hidden" name="delete" value="yes">
                    <input type="hidden" name="deleteTarget" value={{student.name}}>
                    <input type="submit" name="submit" value="Delete">
                    </form>
                </td>
            </tr>
            {% endfor%}
            {% endif%}
            <div class="error">{{error}}</div>
        </table>
        <br>
        <input type="hidden" name="addUser" value="yes">
        <input type="submit" name="submit" value="Add Student">
        <hr>
        <div>Release an assignment, click HERE!</div>
        <input type="submit" name="submit" value="releaseAssignment">

    <hr>
        {% if teams%}

        <div>Your course has teams:</div>
        <table>
            <tr>
                <th>teamID</th>
                <th>team name</th>
                <th>team leader</th>
                <th>team lock</th>
            </tr>
            {%for team in teams%}
            <tr>
                <td>{{team.teamID}}</td>
                <td>{{team.teamName}}</td>
                <td>{{team.teamLeader}}</td>
                <td>{{team.lock}}</td>
            </tr>
            <tr>
                <td>Menmers of this team: </td>
                <td>{%for mem in team.teamMember%}
                {{mem}},
                {%endfor%}</td>
            </tr>
            <tr>
                <td>

                    {%if team.lock%}
                    <td><b>Team has been locked!</b></td>
                    {%else%}
                    <form method="post" name="lockForm">
                    <input type="hidden" name="lockTarget" value={{team.teamID}}>
                    <input type="submit" name="submit" value="lock">
                    </form>
                    {%endif%}
                </td>
                <td>
                    {{message}}
                </td>

            </tr>
            {%endfor%}
        </table>
        {% endif%}


    <hr>
    {%if assignments%}
        {%for assignment in assignments%}
            <div><a href="/assignmentwall?assignmentName={{assignment.assignmentName}}&username={{username}}">
                Assignment name:  {{assignment.assignmentName}}</a>
            </div>
            <div>Release time:  {{assignment.releaseTime}}</div>
            <div>Due Date:  {{assignment.deadLine}}</div>
            <div>Receivers: {{assignment.pubOrTeam}}
            <div>Tags:</div>

            {% for tag in assignment.tags%}
                <div><a href="/tagcollection?tagName={{tag.tags.tagName}}&username={{username}}">{{tag.tags.tagName}}</a> x {{tag.tags.tagAmount}}</div>
            {% endfor%}
            </div>
            <form method="post" name="myForm">
            <input type="hidden" name="editTarget" value={{assignment.assignmentName}}>
            <input type="submit" name="submit" value="editAssignment">
            <input type="hidden" name="reviewTarget" value="{{assignment.assignmentName}}">
            <input type="submit" name="submit" value="reviewAssignment">
            <div><b>{{editMessage}}</b></div>
            </form>
            <!--<input type="button" name="submit" value="reviewAssignment" onclick=MySubmit()>-->
            <hr>
        {%endfor%}
    {% endif%}
        <a href="/teacher.csv">export</a>
        <br>
    </form>
    <a href="/login">Sign out</a>

    </body>
</html>